@font-face {
    font-family: ProximaRegular;
    src: url("../fonts/ProximaNovaRegular.otf");
}

@font-face {
    font-family: ProximaThin;
    src: url("../fonts/ProximaNovaThin.otf");
}

@font-face {
    font-family: ProximaSemibold;
    src: url("../fonts/ProximaNovaSemibold.otf");
}

@font-face {
    font-family: ProximaBold;
    src: url("../fonts/ProximaNovaBold.otf");
}

@font-face {
    font-family: ProximaBlack;
    src: url("../fonts/ProximaNovaBlack.otf");
}

body {
    font-family: ProximaRegular;
    margin: 0;
    padding: 0;
}

#hero {
    background: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.navbar-default {
    background: transparent;
    border: none;
    padding: 30px;
    padding-left: 80px;
    padding-right: 80px;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar-brand>img {
    position: relative;
    height: 300%;
    bottom: 10px;
    width: auto;
}

.navbar-default .navbar-nav>li>a {
    font-family: ProximaBold;
    color: #FFFFFF;
    font-size: 14px;
}

.navbar-default .navbar-nav>li>a {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a {
    background-color: transparent !important;
    color: #FFFFFF;
}

.navbar-default .navbar-nav>li.active a {
    border-bottom: 3px solid #FF0000;
    color: #FFFFFF;
}

.navbar-default .navbar-nav>li.active a:focus {
    color: #FFFFFF;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #FF0000 !important;
}

#hero .title {
    color: #FF0000;
    font-size: 64px;
    font-family: ProximaBold;
    margin-top: -20px;
}

#hero .description {
    color: #FFFFFF;
    font-size: 28px;
    font-family: ProximaSemibold;
}

#about {
    background: url('../img/background-rear.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    background-position: bottom center;
    position: relative;
    overflow: hidden;
}