@font-face {
    font-family: ProximaRegular;
    src: url("../fonts/ProximaNovaRegular.otf");
}

@font-face {
    font-family: ProximaThin;
    src: url("../fonts/ProximaNovaThin.otf");
}

@font-face {
    font-family: ProximaSemibold;
    src: url("../fonts/ProximaNovaSemibold.otf");
}

@font-face {
    font-family: ProximaBold;
    src: url("../fonts/ProximaNovaBold.otf");
}

@font-face {
    font-family: ProximaBlack;
    src: url("../fonts/ProximaNovaBlack.otf");
}

body {
    font-family: ProximaRegular;
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
    .navbar-center {
        position: absolute;
        left: 50%;
        top: 12%;
        transform: translatex(-50%);
    }
}

a:link {
    color: #FFFFFF;
}

a:visited {
    color: #FFFFFF;
}

a:hover {
    color: #FFFFFF;
}

a:active {
    color: #FFFFFF;
}

.underline {
    text-decoration: underline;
}

#hero {
    background: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.navbar-default {
    background: transparent;
    border: none;
    padding: 30px;
    padding-left: 80px;
    padding-right: 80px;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar-brand>img {
    position: relative;
    height: 300%;
    bottom: 10px;
    width: auto;
}

.navbar-default .navbar-nav>li>a {
    font-family: ProximaSemiBold;
    color: #FFFFFF;
    font-size: 14px;
}

.navbar-default .navbar-nav>li>a {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a {
    background-color: transparent !important;
    color: #FFFFFF;
}

.navbar-default .navbar-nav>li.active a {
    border-bottom: 3px solid #FF0000;
    color: #FFFFFF;
}

.navbar-default .navbar-nav>li.active a:focus {
    color: #FFFFFF;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #FF0000 !important;
}

#hero .branding {
    position: absolute !important;
    bottom: 20px;
    right: 60px;
}

#hero .title {
    color: #FF0000;
    font-size: 64px;
    font-family: ProximaBold;
    margin-top: -20px;
}

#hero .description {
    color: #FFFFFF;
    font-size: 28px;
    font-family: ProximaSemibold;
}

#about {
    background: #FFFFFF;
    height: 65vh;
    position: relative;
    overflow: hidden;
    margin-top: 100px;
}

#about .ferrari-rear {
    margin-top: 25px;
}

#about .overview {
    color: #FF0000;
    font-family: ProximaBold;
    font-size: 14px;
}

#about .overview-description {
    color: #404242;
    font-family: ProximaBold;
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 20px;
}

#about .overview-body {
    color: #747775;
    font-family: ProximaThin;
    font-size: 16px;
    margin-bottom: 45px;
}

#about .read-more {
    background: #FF0000;
    padding: 15px;
    text-decoration: none;
    margin-right: 10px;
}

#about .find-a-dealer {
    background: #333434;
    padding: 15px;
    text-decoration: none;
}

#awards {
    background: #252625;
    height: 80vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-left: 0;
    margin-right: 0;
}

#awards .awards-bar {
    background: #2A2A2A;
}

#multimedia {
    background: #FFFFFF;
    height: 75vh;
    position: relative;
    overflow: hidden;
    margin-top: 100px;
}

#multimedia .title {
    font-family: ProximaSemibold;
    font-size: 20px;
    color: #404242;
}